<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title class="config:app-title">Demo App</title>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/exist.css"/>
    </head>
    <body id="body">
        <div id="grey-top">
            <div id="grey-bot">
                <div id="container">
                    <div id="header">
                        <a href="" id="logo">eXistDB</a>
                    </div><!--/header-->
                    <div id="navigation">
                        <ul id="nav" class="dropdown dropdown-horizontal">
                            <li class="dir" id="about">
                                <span>Home</span>
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="about">
                                <span>Proizvodi</span>
                                <ul>
                                    <li>
                                        <a href="novi_racun.html?datoteka=racuni.xml">Upis novog ra?una</a>
                                    </li>
                                    <li>
                                        <a href="racuni.xq?datoteka=racuni.xml" target="_blank">Pregled postoje?ih ra?una</a>
                                    </li>
                                    <li>
                                        <a href="to_GS1.xq?datoteka=racuni.xml" target="_blank">Pretvorba ra?una u GS1 format</a>
                                    </li>
                                    <li>
                                        <a href="test.xq?datoteka=ItemDataNotification.xml" target="_blank">Pregled GS1 dokumenta</a>
                                    </li>
                                    <li>
                                        <a href="from_gs1.xq?datoteka=ItemDataNotification.xml" target="_blank">Pretvorba ra?una iz GS1 formata</a>
                                    </li>
                                </ul>
                                <li>
                                    <span>Narud?ba</span>
                                    <ul>
                                        <li>
                                            <a href="order_print_local.xq?datoteka=narudzba.xml" target="_blank">Pregled narud?bi</a>
                                        </li>
                                        <li>
                                            <a href="order_to_GS1.xq?datoteka=narudzba.xml" target="_blank">Pretvorba narud?be u GS1 format</a>
                                        </li>
                                        <li>
                                            <a href="ispis_order.xq?datoteka=Order.xml" target="_blank">Pregled GS1 dokumenta</a>
                                        </li>
                                        <li>
                                            <a href="order_from_GS1.xq?datoteka=Order.xml" target="_blank">Pretvorba narud?be iz GS1 formata</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Slanje dokumenta</span>
                                    <ul>
                                        <li>
                                            <a href="upload.html">Po?alji dokument</a>
                                        </li>
                                        <li>
                                            <a href="novi_racun.html?datoteka=temp.xml">Upi?i novi ra?un</a>
                                        </li>
                                        <li>
                                            <a href="racuni.xq?datoteka=temp.xml" target="_blank">Pregled datoteke (lokalni format)</a>
                                        </li>
                                        <li>
                                            <a href="to_GS1.xq?datoteka=temp.xml" target="_blank">Pretvorba datoteke u GS1 format</a>
                                        </li>
                                        <li>
                                            <a href="test.xq?datoteka=temp.xml" target="_blank">Pregled datoteke (GS1)</a>
                                        </li>
                                        <li>
                                            <a href="from_gs1.xq?datoteka=temp.xml" target="_blank">Pretvorba datoteke u lokalni format</a>
                                        </li>
                                    </ul>
                                </li>
                            </li>
                        </ul>
                    </div>
                    <div class="container" id="main">
                        <div class="row" id="container-body">
                            <!-- Page content will be injected into the div below -->
                            <div class="span8" id="content" name="sadrzaj"/>
							<!-- Right hand column: 4 wide -->
                            <div class="span4">
                                <h2>Application Info</h2>
                                <div class="config:app-info"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <ul>
                <li>
                    <a href="">Homepage</a>
                </li>
            </ul>
            <div id="copyright">
                <p>Copyright eXist-db Project 2012</p>
            </div><!--/copyright-->
        </div><!--/footer-->
    </body>
</html>